/*rank css for Aeiou */
i.ae {
    font-family: Arial, Verdana, sans-serif;
    color: #FFFFFF;
    background: #BA8B02;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
i.aey { 
    font-style: normal;
    color: #ff0;
}
i.aey::before { content: "["; }
i.aey::after { content: "] "; }
