/*rank css for alana /
/* Rank Font */
i.ala {
      font-family: Tahoma ;
       background: linear-gradient(to right, #8ed3e8, #e5bbef, #f8b1d8, #fee1e1);
   background-size: 200% auto;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      font-weight: bold;
}  
   
/* code for Rank # */
i.alay { 
    font-style: normal;
    color: #ff0;
}
i.alay::before { content: "["; }
i.alay::after { content: "] "; }


/* Coloured Name code */
/* div.chatline span[style*="color:#33CC33"] [href*="Alana"] .chatname { color: #00a86b !important; font-weight: bold;} */


/* for officer */
div.chatline span[style*="color:#338833"] [href*="Alana"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}

