/* <font color= #FFFF00>[XX]</font> <font color= #85c1e9>Endlessly Blazing</font> */
/*<i class=aty>XX</i> <i class=at></i><link rel=stylesheet href=https://goo.gl/RBDfC3> */

i.at {
       color: #85c1e9;
 }
i.aty { 
    font-style: normal;
    color: #ff0;
}
i.aty::before { content: "["; }
i.aty::after { content: "] "; }

i.at::after {content: " Endlessly Blazing";}

div.chatline span[style*="color:#33CC33"] [href*="antlermask"] .chatname { color: #85c1e9 !important; font-family: Trebuchet MS, Verdana, Arial;}

/* for officer chat */
div.chatline span[style*="color:#338833"] [href*="antlermask"] .chatname { color: #85c1e9 !important; font-family: Trebuchet MS, Verdana, Arial;}
