i.bc {  
	
}

i.bc::after { content: url("https://rawcdn.githack.com/tendash/lyrnames/be1c0a300007a378b4bffddfee9b89d7ae38f689/crayon.png");}

div.chatline span [href*="BlueCryons"] .chatname {
	color: #FF0000 !important; font-weight: bold; font-family:Verdana, Arial; 
}
