/* rank css for Brianna */

i.bry { 
font-style: normal;
color: #ff0;
}
i.bry::before { content: "["; }
i.bry::after { content: "] "; }


i.br::before, i.br::after {
font-style: normal;
}
i.br::before {
color: #fdf56d ;
content: "Aten";
}
i.br::after {
color: #859de4;
content: "Selene";
   
}


/* for guild chat */
/* div.chatline span[style*="color:#33CC33"] [href*="caboosemdw"] .chatname { color:#000000 !important;  font-family: Comic Sans MS, Verdana, Arial; } */

/* for officer chat */
div.chatline span[style*="color:#338833"] [href*="Brianna"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}




