/*rank css for Bristen*/
i.bn {
    font-variant: italic;
    font-size 150%;
    color: #e60026;
    }
i.bny { 
    font-style: normal;
    color: #ff0;
}
i.bny::before { content: "["; }
i.bny::after { content: "] "; }

/* [href*="[ Phoenix ] "] [href*="[ Officer ]"] */
/*div.chatline span [href*="Bristen"] .chatname { color: #c46622 !important; font-weight: bold; font-family: Comic Sans MS, Verdana, Arial;font-variant: small-caps; font-size 150%; }
*/

/* for officer 
div.chatline [href*="[Officer]X"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
*/
