/* rank css for caboosemdw */
/* <i class=caboy>XIX</i><i class=cabor>vs</i><link rel=stylesheet href=https://goo.gl/mh8hXk> */

i.caboy { 
font-style: normal;
color: #ff0;
}
i.caboy::before { content: "["; }
i.caboy::after { content: "] "; }

i.cabor {
font- style: normal;
   color: #33ffaa;
   text-shadow:0 0 4px #FFF;
}  

/*i.cabor::before, i.cabor::after {
font-style: normal;
}
i.cabor::before {
color: #ff0000;
content: "red";
}
i.cabor::after {
color: #0000ff;
content: "blue";
   
}
*/

/* for guild chat */
 div.chatline span[style*="color:#33CC33"] [href*="caboosemdw"] .chatname { color:#ffff00 !important;  font-family: Comic Sans MS, Verdana, Arial; }

/* for officer chat */
div.chatline span[style*="color:#338833"] [href*="caboosemdw"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: Wingdings,Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}


/* old colour #2b6be4 */
