/* rank css for caboosemdw */
/* <i class=caboy>XIX</i><i class=cabor>vs</i><link rel=stylesheet href=https://goo.gl/mh8hXk> */

i.caboy { 
font-style: normal;
color: #ff0;
}
i.caboy::before { content: "["; }
i.caboy::after { content: "] "; }

i.cabor {
font-style: normal;
    color: #ffffff;
}
i.cabor::before, i.cabor::after {
font-style: normal;
}
i.cabor::before {
color: #ff0000;
content: "red";
}
i.cabor::after {
color: #0000ff;
content: "blue";
}

/* div.chatline span[style*="color:#33CC33"] [href*="caboosemdw"] .chatname { color:#2b6be4 !important;  font-family: Comic Sans MS, Verdana, Arial; }
div.chatline span[style*="color:#33CC33"] [href*="caboosemdw"] .chatname { color:#2b6be4 !important; font-family: Comic Sans MS, Verdana, Arial; }
*/
/* for officer chat */
div.chatline span[style*="color:#338833"] [href*="caboosemdw"] .chatname { color:#2b6be4 !important; font-family: Comic Sans MS, Verdana, Arial; }

