/* rank css for claptrap */

i.cl {
  font-family:  sans-serif;
  font-weight: bold;
  background: linear-gradient(to right, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #2E2B5F, #8B00FF);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 15s infinite linear, scroll 7s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@-webkit-keyframes scroll {
  to {
    background-position: -200% center;
    }
}


i.cly {
  font-style: normal;
  color: #ff0;
}

i.cl::after {
content: "Got A Good Looking Mainframe";

i.cly::before { content: "["; }
i.cly::after { content: "] "; }


/*
div.chatline span[style*="color:#33CC33"] [href*="claptrap"] .chatname { color:#7cffda !important;  font-weight: bold; font-family: Comic Sans MS, Verdana, Arial; }
div.chatline span[style*="color:#338833"] [href*="claptrap"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: Wingdings,Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
*/
