/*rank css for CursedWings*/
i.cw {
    font-style: italic;
    /* font-size 150%; */
    font-family: Comic Sans MS, Arial, Verdana, sans-serif;
    color: #a339e4;
    text-shadow: 0px 0px 1px #FFF;
    /* background: -webkit-linear-gradient(180deg,#2682de);
     color: #2682de ;
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:0 0 4px #FFF;  */
      }
i.cwy { 
    font-style: normal;
    color: #ff0;
}
i.cwy::before { content: "["; }
i.cwy::after { content: "] "; }


/* purple - #ad2fea
#e3d8e8

Can I try Cursed the purple color and Wings the other if possible? Hopefully I like it lol ty. */

/* div.chatline span[style*="color:#33CC33"] [href*="CursedWings"] .chatname {   background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: Comic Sans MS, Verdana, Arial; font-weight: bold; font-size 150%; } */

/* div.chatline span [href*="CursedWings"] .chatname {   background: linear-gradient(to right, #ad2fea 0%,#ad2fea 53%, #e3d8e8 53%, #e3d8e8 100% ); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: Comic Sans MS, Verdana, Arial; font-weight: bold; font-size 150%; } */

 div.chatline span [href*="CursedWings"] .chatname {  color:#FF1493; font-family: Comic Sans MS, Verdana, Arial; font-weight: bold; font-size 150%; }





