/*rank css for CursedWings*/
i.cw {
    font-style: italic;
    font-size 150%;
    font-family: Comic Sans MS, Arial, Verdana, sans-serif;
    background: -webkit-linear-gradient(180deg,white,#FF007F); 
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      }
i.cwy { 
    font-style: normal;
    color: #ff0;
}
i.cwy::before { content: "["; }
i.cwy::after { content: "] "; }

div.chatline span[style*="color:#33CC33"] [href*="CursedWings"] .chatname {   background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-family: Comic Sans MS, Verdana, Arial;font-variant: bold; font-size 150%; }




