i.cy {
  color: #F2383B !important;
  background: linear-gradient(to right, #228b22 , #009665 , #009c97 , #009fb6 , #69a0bf , #96a2b8 , #aaa9ad );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-family: "Arial Black";
}
i.cyy { 
  font-style: normal;
  color: #ff0;
}
i.cyy::before { content: "["; }
i.cyy::after { content: "] "; }
