/*rank css for dora*/
i.dy {
    color: #FFA500;
    
}
i.doy { 
    font-style: normal;
    color: #ff0;
}
i.doy::before { content: "["; }
i.doy::after { content: "] "; }

i.dy::after {content: " Cornhole Specialist";}
    

div.chatline span [href*="BenDora"] .chatname { color:#FFA500 !important; }
