/*rank css for Ten*/
i.tp {
    font-style: normal;
    color: #FF69B4; 
    }
i.tpy { 
    font-style: normal;
    color: #ff0;
}
i.tpy::before { content: "["; }
i.tpy::after { content: "] "; }
i.tp:after { content: url(https://rawcdn.githack.com/tendash/lyrnames/4b5dc535189f66f809240d70ecc945b8f41b7742/Untitled.jpg)
/* [href*="[ Phoenix ] "] [href*="[ Officer ]"] */
div.chatline span [href*="\"X\""] .chatname { color: #c46622 !important; font-weight: bold; font-family: Comic Sans MS, Verdana, Arial;font-variant: small-caps; font-size 150%; text-decoration: underline overline wavy #c46622; }

/* for officer 
div.chatline [href*="[Officer]X"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
*/
