/*rank css for fux*/
i.fu {
    color: #358c10;
    font-family: Sequel Sans;
}
i.fuy { 
    font-style: normal;
    color: #ff0;
}
i.fuy::before { content: "["; }
i.fuy::after { content: "] "; }

i.fu::after {content: " Dank";}
    


