/*rank css for Herensuge*/
i.he {
       color: #cf1020;
       font-style: Bold;
   }
i.hey { 
    font-style: normal;
    color: #ff0;
}
i.hey::before { content: "["; }
i.hey::after { content: "] "; }



