/*rank css for Herensuge*/
i.he {
       color: #cf1020;
          }
i.hey { 
    font-style: normal;
    color: #ff0;
}
i.hey::before { content: "["; }
i.hey::after { content: "] "; }

div.chatline span[style*="color:#33CC33"] [href*="Herensuge"] .chatname { color: #00a86b !important; font-weight: bold;}

/* for officer */
div.chatline span[style*="color:#338833"] [href*="Herensuge"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}

