
i.ho { 
font-style: normal;
color: #FF69B4;
}
i.hoy {
	font-style: normal;
	color: #ff0;
}
i.hoy::before { content: "["; }
i.hoy::after { content: "] "; }
i.ho::before { content: url("https://rawcdn.githack.com/tendash/lyrnames/0e556ca3327d7c49ea7793903942d263aed3af62/flat,128x,075,f-pad,128x128,f8f8f8.u1.jpg
");}
