
i.ten {
    font-family: Arial, Verdana, sans-serif;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, -16px 9px 9px rgba(206,89,55,0.04);
color: #FFFFFF;
background: #232323;
    }
