/*rank css for Krazee/
i.kr {
       color: ##c162de;
       font-style: Bold;
   }
i.kry { 
    font-style: normal;
    color: #ff0;
}
i.kry::before { content: "["; }
i.kry::after { content: "] "; }

div.chatline span[style*="color:#33CC33"] [href*="Krazee"] .chatname { color: #FF0000  !important; font-weight: bold; font-family: chiller}

/* for officer */
div.chatline span[style*="color:#338833"] [href*="Krazee"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}

