/* rank css for Krazee */
i.kr {
font-weight: bold;
background: url('https://image.flaticon.com/icons/svg/3047/3047651.svg') no-repeat center; / spider image as background /
background-size: contain; / size the background image to fit the element */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 15s infinite linear, scroll 7s infinite linear;
}

@-webkit-keyframes hue {
from {
-webkit-filter: hue-rotate(0deg);
}
to {
-webkit-filter: hue-rotate(-360deg);
}
}

@-webkit-keyframes scroll {
to {
background-position: -200% center;
}
}

i.kry {
font-style: normal;
color: #000; /* change color of text to match spider */
}
i.kry::before {
content: "[";
}
i.kry::after {
content: "] ";
}

div.chatline span [href*="Krazee"] .chatname {
color: #880E4F !important;
font-weight: bold;
font-family: Comic Sans MS;
}
