/*rank css for linquished*/
i.li {
    color: #800080;
}
i.liy { 
    font-style: normal;
    color: #ff0;
}
i.liy::before { content: "["; }
i.liy::after { content: "] "; }


div.chatline span[style*="color:#33CC33"] [href*="linquished"] .chatname { color: red !important; background: -webkit-linear-gradient(red, yellow);-webkit-background-clip: text; -webkit-text-fill-color: transparent;}


