/*rank css for Moto*/
i.mo {
    color: #cc0000;
      }
i.moy { 
    font-style: normal;
    color: #ff0;
}
i.moy::before { content: "["; }
i.moy::after { content: "] "; }



div.chatline span[style*="color:#33CC33"] [href*="Motodragon"] .chatname { color: #F2383B !important; background: -webkit-linear-gradient(left, #F2383B , #FFFFFF , #F2383B );-webkit-background-clip: text; -webkit-text-fill-color: transparent; -webkit-animation: hue 30s infinite linear;font-family: "Arial Black"; }
