/*rank css for nicoschwarz*/
i.ni {
       color: #FF1493;
       font-style: Bold;
   }
i.niy { 
    font-style: normal;
    color: #ff0;
}
i.niy::before { content: "["; }
i.niy::after { content: "] "; }

div.chatline span [href*="nicoschwarz"] .chatname { color: #e8d825  !important; font-weight: bold;}


