/*rank css for nyi*/
i.ny {
    font-style: bold;
    font-variant: caps;
    color: #FF69B4;
    font-size 150%;
    font-family:Comic Sans MS, Arial, Verdana, sans-serif;
}
i.nyy { 
    font-style: normal;
    color: #ff0;
}
i.nyy::before { content: "["; }
i.nyy::after { content: "] "; }

i.ny::after {content: " What's a Gmap?";}
    


/* for officer chat */
div.chatline span[style*="color:#338833"] [href*="N"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: Wingdings,Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
