/*rank css for pulp/
/* Rank Font */
i.pu {
       color: #66ffff;
       font-style: Bold;
   }
   
/* code for Rank # */
i.puy { 
    font-style: normal;
    color: #ff0;
}
i.puy::before { content: "["; }
i.puy::after { content: "] "; }

/* Coloured Name code */
div.chatline span[style*="color:#33CC33"] [href*="Pulp"] .chatname { color: #66ffff !important; font-weight: bold;}

/* for officer */
div.chatline span[style*="color:#338833"] [href*="Pulp"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}

