/*rank css for Sillyrorb */
/* tp */
i.si {
    color: #FF69B4;
    font-style: normal;
    font-family: Comic Sans MS, Verdana, Arial;
}
i.siy { 
    font-style: normal;
    color: #ff0;
}
i.siy::before { content: "["; }
i.siy::after { content: "] "; }

/* i.si::after {content: " The Mad God";} */ 

div.chatline span[style*="color:#33CC33"] [href*="Sillyrorb"] .chatname { color: #FF69B4 !important; font-family: Comic Sans MS, Verdana, Arial; }
div.chatline span[style*="color:#338833"] [href*="Sillyrorb"] .chatname { color: #FF69B4 !important; font-family: Comic Sans MS, Verdana, Arial; }
div.chatline span[style*="color:#CC6600"] [href*="Sillyrorb"] .chatname { color: #D4AF37 !important; font-weight: bold; font-family: wingdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 0 pt;}
