/*rank css for Sheogorath*/
/* tp */
i.sh {
    color: #FF69B4;
    font-style: normal;
    font-family: Comic Sans MS, Verdana, Arial;
}
i.shy { 
    font-style: normal;
    color: #ff0;
}
i.shy::before { content: "["; }
i.shy::after { content: "] "; }

i.sh::after {content: " The Mad Mod";}

div.chatline span[style*="color:#33CC33"] [href*="Sheogorath"] .chatname { color: #FF69B4 !important; font-family: Comic Sans MS, Verdana, Arial; }
div.chatline span[style*="color:#338833"] [href*="Sheogorath"] .chatname { color: #FF69B4 !important; font-family: Comic Sans MS, Verdana, Arial; }
