/* rank css for Scooler  */
/* <i class=scoy></i><i class=scor></i><i class=scos></i>Light<link rel=stylesheet href=https://goo.gl/5jBGHL> */
/* need to update rank in here not on game */
/* Warrior of Light */

i.scoy { 
font-style: normal;
color: #ff0;
}
i.scoy::before { content: "[XX"; }
i.scoy::after { content: "] "; }

i.scor::before {
font-style: normal;
color: #525653;
content: "Warrior";
}
i.scos::before {
font-style: normal;
color: #A8AAA9;
content: " of ";
}


