/*rank css for Shadowice /
/* Rank Font */
i.shad {
      font-family: Tahoma ;
      font-weight: bold;
      background: linear-gradient(to right, #ffffff, #b9e8ea, #86d6d8, #3fd0d4,#20c3d0 );
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: hue 20s infinite linear, scroll 10s infinite linear;
   }
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@-webkit-keyframes scroll {
  to {
    background-position: -200% center;
    }
}
   
/* code for Rank # */
i.shady { 
    font-style: normal;
    color: #ff0;
}
i.shady::before { content: "["; }
i.shady::after { content: "] "; }


/* Coloured Name code */
/* div.chatline span[style*="color:#33CC33"] [href*="Shadowice"] .chatname { color: #00a86b !important; font-weight: bold;} */


/* for officer */
div.chatline span[style*="color:#338833"] [href*="Shadowice"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}

