/*rank css for Ten*/
i.tp {
    font-style: bold;
    font-variant: small-caps;
    color: #D4AF37;
    font-size 150%;
    font-family: Comic Sans MS, Arial, Verdana, sans-serif;
}
i.tpy { 
    font-style: normal;
    color: #ff0;
}
i.tpy::before { content: "["; }
i.tpy::after { content: "] "; }

i.tp::after {content: " Professor";}

div.chatline span[style*="color:#33CC33"] [href*="X"] .chatname { color: #D4AF37 !important; font-weight: bold; font-family: Comic Sans MS, Verdana, Arial;font-variant: small-caps; font-size 150%; }
/* for officer chat */
div.chatline span[style*="color:#338833"] [href*="X"] .chatname { color: #D4AF37 !important; font-weight: bold; font-family: Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
/*
original:
<font color= #FFFF00>[XX]</font> <font color= #FFA500>The Real Ten</font>

new:
<i class=tpy>XX</i><i class=tp>The Real</i><link rel=stylesheet href=//l.rtehl33t.net/tp.css?1>

color for rank:
#EB6E1E
<i class=tpy>XXXIl</i> <i class=tp></i><link rel=stylesheet href=https://goo.gl/ib5e3y>
*/
