/*rank css for Ten*/
i.tp {
    font-style: bold;
    font-variant: small-caps;
    color: #D4AF37;
    font-size 150%;
    font-family: Comic Sans MS, Arial, Verdana, sans-serif;
}
i.tpy { 
    font-style: normal;
    color: #ff0;
}
i.tpy::before { content: "["; }
i.tpy::after { content: "] "; }

i.tp::after {content: " Professor";}

div.chatline span[style*="color:#33CC33"] [href*="X"] .chatname { color: #D4AF37 !important; font-weight: bold; font-family: Comic Sans MS, Verdana, Arial;font-variant: small-caps; font-size 150%; }
/* for officer chat */
div.chatline span[style*="color:#CC6600"] [href*="X"] .chatname { color: #D4AF37 !important; font-weight: bold; font-family: wingdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
