/*rank css for Ten*/
i.tp {
    font-style: bold;
    font-variant: small-caps;
    font-size 150%;
    font-family: Comic Sans MS, Arial, Verdana, sans-serif;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0px 0px 3px #231AA4, 0px 0px 5px #2B12A4, 0px 0px 5px #2B12A4;
color: #1C18A2;
background: #232323;
}
i.tpy { 
    font-style: normal;
    color: #ff0;
}
i.tpy::before { content: "["; }
i.tpy::after { content: "] "; }

/* i.tp::after {content: " Professor";} */

div.chatline span[style*="color:#33CC33"] [href*="Ten"] .chatname { text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0px 0px 3px #231AA4, 0px 0px 5px #2B12A4, 0px 0px 5px #2B12A4; color: #1C18A2; background: #232323; font-weight: bold; font-family: Comic Sans MS, Verdana, Arial;font-variant: small-caps; font-size 150%; }
/* for newmain */
/* div.chatline span[style*="color:#CC6600"] [href*="Ten"] .chatname { color: #D4AF37 !important; font-weight: bold; font-family: wingdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;} *?
/* for officer */
div.chatline span[style*="color:#338833"] [href*="Ten"] .chatname { color: #D4AF37 !important; font-weight: bold; font-family: wingdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
