i.thy { 
font-style: normal;
color: #ff0;
}
i.thy::before { content: "["; }
i.thy::after { content: "] "; }

i.th {
font- style: normal;
   color: #33ffaa;
   text-shadow:0 0 4px #FFF;

   
div.chatline span[style*="color:#33CC33"] [href*="Thumbs"] .chatname { color: #ff8c00 !important;}   
