/*rank css for tranquility*/
i.tr {
    /* color: #FFFFFF; */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    }
i.try { 
    font-style: normal;
    color: #ff0;
}
i.try::before { content: "["; }
i.try::after { content: "] "; }

