/*rank css for tranquility*/
i.tr {
    /* color: #FFFFFF; */
    background-image: -webkit-linear-gradient(right, orange , yellow, green, cyan, blue, violet);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -webkit-animation: hue 5s infinite linear;
    }

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

i.try { 
    font-style: normal;
    color: #ff0;
}
i.try::before { content: "["; }
i.try::after { content: "] "; }

