/*rank css for Ten*/
i.tp {
    font-variant: small-caps;
    font-size: 100%;
    color: #22c4bc;
    animation: spin-and-pulse 5s ease-in-out infinite, font-glow 1s ease-in-out infinite;
    text-shadow: 0 0 10px #22c4bc;
}
i.tpy { 
    font-style: normal;
    color: #ff0;
    text-shadow: 0 0 10px #ff0;
}
i.tpy::before { content: "["; }
i.tpy::after { content: "] "; }

div.chatline span [href*="\"X\""] .chatname {
    display: inline-block;
    animation: font-glow 3s ease-in-out infinite;
    text-shadow: 0 0 10px rgba(34, 196, 188, 0); /* Transparent starting glow */
}

.tp {
    font-style: normal;
    animation: font-glow 3s ease-in-out infinite; 
    text-shadow: 0 0 10px rgba(34, 196, 188, 0); /* Transparent starting glow */
}

.tp span {
    animation: font-glow 3s ease-in-out infinite;
    text-shadow: 0 0 10px rgba(34, 196, 188, 0); /* Transparent starting glow */
}

@keyframes font-glow {
    0% {
        text-shadow: 0 0 0 rgba(34, 196, 188, 0); /* Fully transparent glow */
    }
    50% {
        text-shadow: 0 0 10px rgba(34, 196, 188, 0.7); /* Semi-transparent glow */
    }
    100% {
        text-shadow: 0 0 20px rgba(34, 196, 188, 0); /* Fully transparent glow */
    }
}
