/*rank css for Ten*/
i.tp {
    font-variant: small-caps;
    font-size: 100%;
    color: #22c4bc;
    animation: spin-and-pulse 5s ease-in-out infinite, font-glow 1s ease-in-out infinite;
    text-shadow: 0 0 10px #22c4bc;
}
i.tpy { 
    font-style: normal;
    color: #ff0;
    text-shadow: 0 0 10px #ff0;
}
i.tpy::before { content: "["; }
i.tpy::after { content: "] "; }

div.chatline span [href*="\"X\""] .chatname {
    display: inline-block;
    animation: spin-and-pulse 5s ease-in-out infinite, font-glow 1s ease-in-out infinite;
    text-shadow: 0 0 10px #22c4bc;
}
.tp {
	font-style: normal;
	animation: spin-and-pulse 5s ease-in-out infinite, font-glow 1s ease-in-out infinite; 
	text-shadow: 0 0 10px #22c4bc;
}

.tp span {
	animation: spin-and-pulse 5s ease-in-out infinite, font-glow 1s ease-in-out infinite;
	text-shadow: 0 0 10px #22c4bc;
}

@keyframes spin-and-pulse {
    0% {
        transform: rotate(0deg);
        color: #22c4bc;
    }
    50% {
        transform: rotate(360deg);
        color: #00f;
    }
    100% {
        transform: rotate(720deg);
        color: #22c4bc;
    }
}

@keyframes font-glow {
    0% {
        text-shadow: 0 0 10px #22c4bc;
    }
    50% {
        text-shadow: 0 0 20px #22c4bc;
    }
    100% {
        text-shadow: 0 0 10px #22c4bc;
    }
}
