/*rank css for Ten*/
i.tp {
    font-variant: small-caps;
    font-size 150%;
    color: #22c4bc;
    }
i.tpy { 
    font-style: normal;
    color: #ff0;
}
i.tpy::before { content: "["; }
i.tpy::after { content: "] "; }

/* [href*="[ Phoenix ] "] [href*="[ Officer ]"] */
/*div.chatline span [href*="\"X\""] .chatname { color: #22c4bc !important; font-weight: bold; font-family: Comic Sans MS, Verdana, Arial;font-variant: small-caps; font-size 150%; } */

/* for officer 
div.chatline [href*="[Officer]X"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
*/

/* div.chatline span [href*="\"X\""] .chatname {
  font-size: 0;
  visibility: hidden;
}
*/
/*div.chatline span [href*="\"X\""] .chatname::after {
  font-size: 13px;
  visibility: visible;
  text-align: center;
  color: #22c4bc;
  content: "Professor X";
}
*/
div.chatline span [href*="\"X\""] .chatname {
    display: inline-block;
    animation: wheee linear 60s infinite;
}
.tp {
	font-style: normal;
	animation: slide-forward 20s ease-in infinite;
}

.tp span {
	animation: slide-reverse 20s ease-in infinite;
}


@keyframes wheee {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes slide-forward {
	0%, 100% {color: #d96314}
	15% {color: #b75311}
	30% {color: #95420d}
	45% {color: #73320a}
	60% {color: #512107}
	75% {color: #2f1103}
	90% {color: #0d0000}
}

@keyframes slide-reverse {
	0%, 100% {color: #0d0000}
	15% {color: #2f1103}
	30% {color: #512107}
	45% {color: #73320a}
	60% {color: #95420d}
	75% {color: #b75311}
	90% {color: #d96314}
}
