/*rank css for Ten*/
i.tp {
    font-variant: small-caps;
    font-size 150%;
    color: #22c4bc;
    }
i.tpy { 
    font-style: normal;
    color: #ff0;
}
i.tpy::before { content: "["; }
i.tpy::after { content: "] "; }

/* [href*="[ Phoenix ] "] [href*="[ Officer ]"] */
/*div.chatline span [href*="\"X\""] .chatname { color: #22c4bc !important; font-weight: bold; font-family: Comic Sans MS, Verdana, Arial;font-variant: small-caps; font-size 150%; } */

/* for officer 
div.chatline [href*="[Officer]X"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
*/

div.chatline span [href*="\"X\""] .chatname {
  font-size: 0;
  visibility: hidden;
}

div.chatline span [href*="\"X\""] .chatname::after {
  font-variant: small-caps;
  font-size 150%;
  color: #22c4bc;
  visibility: visible;
  text-align: center;
  content: "Professor X";
 /* background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(red), color-stop(yellow), color-stop(green), to(#fff));
  background: -webkit-linear-gradient(right, #fff, red, yellow, green, #fff);
  background: -moz-linear-gradient(right, #fff, red, yellow, green, #fff);
  background: -o-linear-gradient(right, #fff, red, yellow, green, #fff);
  background: linear-gradient(to right, #fff, red, yellow, green, #fff);
  -webkit-background-clip: text;
  background-clip: text; 
  color: transparent; */
}
