/* rank css for Ten */

i.tp {
    font-variant: small-caps;
    font-size: 100%;
    color: #22c4bc;
    animation: flicker 5s ease-in-out infinite, font-glow 1s ease-in-out infinite;
}

i.tpy {
    font-style: normal;
    color: #ff0;
    text-shadow: 0 0 10px #ff0;
}

i.tpy::before {
    content: "[";
}

i.tpy::after {
    content: "] ";
}

div.chatline span [href*="\"X\""] .chatname {
    display: inline-block;
    animation: flicker 5s ease-in-out infinite, font-glow 1s ease-in-out infinite;
}

.tp {
    font-style: normal;
    animation: flicker 5s ease-in-out infinite, font-glow 1s ease-in-out infinite;
}

.tp span {
    animation: flicker 5s ease-in-out infinite, font-glow 1s ease-in-out infinite;
}

@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
}

@keyframes font-glow {
    0% {
        text-shadow: 0 0 10px #22c4bc;
    }
    50% {
        text-shadow: 0 0 20px #22c4bc;
    }
    100% {
        text-shadow: 0 0 10px #22c4bc;
    }
}
