i.zay {
	font-style: normal;
	color: #ff0;
}
i.zay::before { content: "["; }
i.zay::after { content: "] "; }
i.zaa {
    color:#AF69EF;
}
i.zaa::before {
animation:blinkingText 2.5s infinite;
content: "Re";
}
 	    
i.zaa::after {
animation:blinkingText 2.7s infinite;
content: "d";
}

	@keyframes blinkingText{
    	0%{     color: #ffffff;    }
    	49%{    color: #AF69EF; }
    	60%{    color: transparent; }
    	99%{    color:transparent;  }
    	100%{   color: #000;    }
}

/* Coloured Name code */
div.chatline span[style*="color:#33CC33"] [href*="Zaan"] .chatname { color: #FF69B4 !important; font-weight: bold;}
div.chatline span[style*="color:#33CC33"] [href*="NothingElseIsProblem"] .chatname { color: #FF69B4 !important; font-weight: bold;}
/* for officer */
div.chatline span[style*="color:#338833"] [href*="Zaan"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
div.chatline span[style*="color:#338833"] [href*="NothingElseIsProblem"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}

