
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@-webkit-keyframes scroll {
  to {
    background-position: -200% center;
    }
}
}
i.zay {
	font-style: normal;
	color: #ff0;
}
/* RetarD'OH! */

i.zay::before { content: "["; }
i.zay::after { content: "] "; }
i.zaa {
    color:#AF69EF;
}
i.zaa::before {
    font-family: Arial ;
      background: linear-gradient(to right, #ffffff, #AF69EF, #000000);
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation:  scroll 10s infinite linear;
      content: "Re"
	    
}
i.zaa::after{
	font-family: Arial ;
      font-weight: bold;
      background: linear-gradient(to right, #AF69EF, #ffffff, #000000);
      background-size: 200% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation:  scroll 10s infinite linear;
      content:"d"
}


/* Coloured Name code */
div.chatline span[style*="color:#33CC33"] [href*="Zaan"] .chatname { color: #FF69B4 !important; font-weight: bold;}

/* for officer */
div.chatline span[style*="color:#338833"] [href*="Zaan"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}

