/* rank css for zaan */
/* <i class=zay>XXXII</i><i class=zaa></i><link rel=stylesheet href=https://goo.gl/i6hjEj> */
/* @import url('https://fonts.googleapis.com/css?family=Merienda'); */

i.zaa { 
font-style: normal;
color: #FF69B4;
font-size: 100px;
}
i.zay {
	font-style: normal;
	color: #ff0;
}
i.zay::before { content: "["; }
i.zay::after { content: "] "; }
i.zaa::after { content: "SUPER NOOB";}

div.chatline span[style*="color:#33CC33"] [href*="Zaan"] .chatname { color: #ff69b4 !important; font-weight: bold; font-family: Verdana, Arial; font-size: 100px; }
div.chatline span[style*="color:#338833"] [href*="Zaan"] .chatname { color: #ff69b4 !important; font-weight: bold; font-family: Verdana, Arial; font-size: 100px; }
