/* rank css for Varrnpirekiller */

i.za { 
font-style: normal;
color: #D9B3FF;
}
i.zay {
	font-style: normal;
	color: #ff0;
}
i.zay::before { content: "["; }
i.zay::after { content: "] "; }
i.za::after { content: url("https://rawcdn.githack.com/tendash/lyrnames/3d41203102dc6f90800b349507adef0cc261df54/vamp.png");}

div.chatline span[style*="color:#33CC33"] [href*="Varrnpirekiller"] .chatname { color: #FF7000 !important; font-weight: bold; font-family: Verdana, Arial; }
div.chatline span[style*="color:#338833"] [href*="Varrnpirekiller"] .chatname { color: #FF7000 !important; font-weight: bold; font-family: Verdana, Arial; }
